{% extends 'core/layouts/dashboard.html' %}

{% block page_title %}Exams | Home{% endblock %}

{% block layout_header %}
{% url 'core:gradebook_index' as back_fallback %}
{% include 'core/components/page_header.html' with title=terms.exam_plural icon="fa-clipboard-list" back_url=back_url|default:back_fallback %}
{% endblock %}

{% block layout_primary %}
<div class="row g-3">
    {% for tile in dashboard_tiles %}
    <div class="col-md-6">
        {% include 'core/components/nav_tile.html' with icon=tile.icon title=tile.title description=tile.description url=tile.url %}
    </div>
    {% endfor %}
</div>
{% endblock %}
